@charset "utf-8";

/*視窗背景色設定*/
body {
    background-color: rgb(118, 217, 235);
}

/*連結顏色設定*/
a {
    color: rgb(228, 47, 204);
}

/*頁首,導覽,頁尾的共通設定*/


/*導覽樣式設定*/


/*頁面標題設定*/
h1{
    background-color: #6fbb9a;
    color: #fff;
    width: 300px;
    margin: 40px;
    padding: 30px;
    border: 5px solid rgb(102, 51, 153);
    text-align: center;
    font-size: 300%;
    line-height: 1;
}

/*次標題設定*/
h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #cf1537;
    border-left: 10px solid #de5679;
    color: peru;
}

/*小標題設定*/


/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/


/*圓形圖片設定*/